body {
  margin: 0 5rem;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
}

.hamburger-btn {
  position: fixed;
  right: 5%;
  border: none;
  width: 42px;
  height: 42px;
  background-color: white;
  display: none;
}

.hamburger-btn:hover {
  cursor: pointer;
}

.menu {
  width: 30px;
  height: 30px;
}

.close {
  width: 35px;
  height: 40px;
  display: none;
}

.logo {
  width: 100px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-ul {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: rgb(124, 123, 123);
}

nav a:hover {
  text-decoration: underline;
}

.suscribe-btn {
  border: none;
  width: 110px;
  height: 52px;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: rgb(235, 134, 2);
  border-radius: 0.3rem;
}

.suscribe-btn:hover {
  cursor: pointer;
  color: rgb(235, 134, 2);
  background-color: rgb(29, 29, 29);
}

.principal-card {
  width: 100%;
  height: 400px;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.img-article-principal {
  width: 50%;
  height: 300px;
  border-radius: 0.6rem;
}

.content {
  margin-left: 3rem;
}

.content h1 {
  width: 100%;
  margin: 0;
  font-size: 2.2rem;
  line-height: 2.7rem;
}

.subtitle {
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: 1px;
  width: 90%;
  color: rgb(124, 123, 123);
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 58px;
  height: 58px;
}

.profile div {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.profile h4 {
  height: 0;
}

.container-cards {
  display: flex;
  gap: 2rem;
}

.card {
  width: 410px;
  height: 480px;
}

.card h2 {
  width: 90%;
  height: 4rem;
  font-size: 1.9rem;
  line-height: 2.4rem;
}

.card p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  width: 90%;
  color: rgb(124, 123, 123);
}

.img-article {
  width: 100%;
  border-radius: 0.6rem;
}

footer {
  margin-top: 4rem;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(124, 123, 123);
}

 @media (max-width: 1130px) {
  .principal-card {
    width: 100%;
    height: 650px;
    display: block;
  }
  
  .img-article-principal {
    width: 100%;
    height: 330px;
  }

  .img-article {
    width: 100%;
    height: 330px;
  }

  .content {
    margin-left: 0;
    margin-top: 2rem;
  }
  
  .content h1 {
    width: 100%;
    margin: 0;
    font-size: 2.4rem;
    line-height: 2.7rem;
  }
  
  .subtitle {
    font-size: 1.2rem;
    width: 100%;
  }

  .container-cards {
    display: block;
  }

  .card {
    width: 100%;
    height: 600px;
    margin-top: 2rem;
  }

  .card h2 {
    height: 2rem;
  }
 }

 @media(max-width: 670px) {
  body {
    margin: 0 2rem;
  }

  .principal-card {
    height: 650px;
  }
  
  .img-article-principal {
    height: 300px;
  }

  .img-article {
    height: 300px;
  }
  
  .content h1 {
    margin: 0;
    font-size: 2rem;
    line-height: 2.7rem;
  }
  
  .subtitle {
    font-size: 1rem;
  }

  .card {
    height: 530px;
  }

  .card h2 {
    font-size: 1.6rem;
  }

  .profile img {
    width: 48px;
    height: 48px;
  }

  nav a {
    font-size: 0.9rem;
  }

  nav button {
    width: 90px;
    height: 42px;
  }
 }

 @media (max-width: 540px) {
  body {
    margin: 0 1rem;
  }

  .nav-bar {
    display: none;
  }

  .suscribe-btn {
    flex-direction: column;
  }

  .suscribe-btn:hover {
    background-color: white;
  }

  .hamburger-btn {
    display: block;
    margin-top: 2.4rem;
  }

  .principal-card {
    height: 620px;
  }

  .img-article-principal {
    height: 220px;
  }

  .img-article {
    height: 220px;
  }

  .content h1 {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  .subtitle {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  .card{
    margin-top: 0;
    height: 480px;
  }

  .card h2 {
    font-size: 1.3rem;
    height: 1.3rem;
    height: 1.6rem;
    line-height: 1.4rem;
  }

  .card p {
    padding-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
    height: 1.6rem;
  }

  footer {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
 }